[submodule "dependencies/glm"]
	path = dependencies/glm
	url = https://github.com/g-truc/glm.git
[submodule "dependencies/eigen"]
	path = dependencies/eigen
	url = https://github.com/eigenteam/eigen-git-mirror.git
